<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.learn.shruti.ratemyday">


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

        <activity android:name=".LoginSignupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ResetPasswordActivity"
                android:label="@string/title_activity_reset_password"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".RateDayActivity">
        </activity>
        <activity android:name=".ShowDataActivity">
        </activity>

        <receiver
                android:name=".AlarmReceiver"
                android:enabled="true"
                android:exported="true">

        </receiver>
        <receiver
                android:name=".DeviceOnReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>